*{
  font-family: Arial, Helvetica, sans-serif;
}
 body{
  background-image: url('https://www.astroshop.es/Produktbilder/zoom/4217_1/National-Geographic-Mapamundi-Mapa-del-Mundo-fisico-grande.jpg');
 }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative; 
  background: white;
  padding: 2px;
  border-radius: 10px;
  
  text-align: center;
}


.modal button {
  position: absolute;
  top: 10px;    
  right: 10px;  
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


  .card img {
  width: 100%; 
  height: 100%;
  border-radius: 40px;
  cursor:pointer;
}
  


.card {
  display: inline-block;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: bisque;
  transition: all linear;
}
.card h3{
font-size: 16pt; 
text-transform: uppercase;
}


.card:hover{
  transform: scale(1.15);
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}